@model WebApp.LearningSystem.BussinesModels.BusinessViewModel

@{
    ViewBag.Title = "Войти в систему";
    Layout = "_Layout";
}
<div class="auth-container">
        <h2 class="auth-h2">Вход пользователя</h2>
        <form>
            <div class="auth-form-group">
                <label for="Login">Логин:</label>
                <input type="text" id="Login" name="Login" required>
            </div>
            <div class="auth-form-group">
                <label for="Password">Пароль:</label>
                <input type="password" id="Password" name="Password" required>
            </div>
            <div class="auth-button-container">
                <button type="submit" asp-action="Login">Войти</button>
            </div>
        </form>
    </div>