<!doctype html>


@{
    var image = "'/Images/Background/arctic.jpg'";
    if (DateTime.Now.Day % 2 == 0)
    {
        image = "'/Images/Background/rofl.gif'";
    }
}
<html lang="en" style="background: url(@image); background-size: cover; background-repeat:no-repeat; background-attachment: fixed">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/Layout.css"/>
    <link rel="stylesheet" href="/css/card.css"/>
    <link rel="stylesheet" href="/css/Auth.css"/>
    <link rel="stylesheet" href="/css/theory_card.css"/>
    <link rel="stylesheet" href="/css/terminal.css"/>

    <title>Document</title>
</head>
@* <script src="/js/site.js"></script> *@
<body>
@if ((bool)ViewData["isAuthorized"] == false)
{
    <header class="layout-header">
        <img src="/Images/Logo/Logo.png" alt="Логотип" class="layout-logo">
        <nav class="layout-navigation">
            <a class="layout-a" href="/Home">Главная</a>
            <a class="layout-a" href="/Register">Регистрация</a>
            <a class="layout-a" href="/Authorization"> Вход </a>
        </nav>
    </header>
}
else if ((bool)ViewData["isAuthorized"] == true)
{
    <header class="layout-header">
        <img src="/Images/Logo/Logo.png" alt="Логотип" class="layout-logo">
        @if (ViewData["isAdmin"] != null)
        {
            <nav class="layout-navigation-admin">
                @if ((bool)ViewData["isAdmin"] == true)
                {
                    <a class="layout-a" href="/data/users">Пользователи</a>
                    <a class="layout-a" href="/data/admins">Администраторы</a>
                    <a class="layout-a" href="/data/themes">Темы</a>
                    <a class="layout-a" href="/data/commands">Команды</a>
                    <a class="layout-a" href="/data/attributes">Атрибуты</a>
                }
            </nav>
        }
        <nav class="layout-navigation">
            <a class="layout-a" href="/Home">Главная</a>
            <a class="layout-a" asp-controller="Authorization" asp-action="Logout">Выход</a>
        </nav>
    </header>
}
<div class="container">
    @RenderBody()
</div>
<footer class="footer">
</footer>
</body>
</html>