@using BashDataBaseModels
@model Session<User>

@{
    ViewData["Title"] = "Главная";
}
<label hidden="hidden" id="data-api-url" title="@ViewData["DATA_API_URL"]"></label>
<label hidden="hidden" id="user-id" title="@{@Model.Data?.UserId;}"></label>

<div class="cards-container"></div>

<script src="/js/site.js"></script>
<script src="/js/themes.js"></script>
<script>
    Source = document.getElementById("data-api-url").title;
    UserId = document.getElementById("user-id").title;
</script>