/*html {*/
/*  box-sizing: border-box;*/
/*  background-size: cover;*/
/*  background: url('./Images/Background/arctic.jpg') no-repeat fixed;*/
/*}*/

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    min-width: min-content;
    font-family: monospace, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    top: 0;
    left: 0;
    right: 0;
    margin: 40px 20px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.menu-list {
    display: flex;
    gap: 0 40px;
}

ul {
    list-style-type: none;
}

.logo-img {
    height: inherit;
}


.layout-header {
    height: 40px;
    background: linear-gradient(145deg, transparent, deepskyblue);
    padding: 0px 10px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layout-logo {
    vertical-align: middle;
    height: inherit;
    margin-left: -30px;
}

.layout-navigation {
    display: flex;
    gap: 1px;
}

.layout-navigation-admin {
    display: flex;
    gap: 1px;
}

.layout-a {
    padding: 10px 20px;
    background: linear-gradient(-15deg, blue, #6565ff, deepskyblue);
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 2px 2px 3px 1px #5f676e;
    /*margin-right: 1px;*/
}

.layout-a:hover {
    background: linear-gradient(-15deg, blue, #6565ff, skyblue);
}


.layout-navigation-admin .layout-a {
    padding: 10px 20px;
    background: linear-gradient(-15deg, orangered, orange);
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    /*margin-right: 1px;*/
}

.layout-navigation-admin .layout-b {
    padding: 10px 20px;
    background: linear-gradient(-15deg, orangered, red);
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    /*margin-right: 1px;*/
}

.layout-b {
    padding: 10px 20px;
    background: linear-gradient(-15deg, orangered, orange, yellow);
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 2px 2px 3px 1px #5f676e;
    /*margin-right: 1px;*/
}

.layout-a:hover {
    background: linear-gradient(-15deg, blue, #6565ff, skyblue);
}

.layout-navigation-admin .layout-a:hover {
    background: linear-gradient(-15deg, orangered, orange, yellow);
}

.layout-navigation-admin .layout-b:hover {
    background: linear-gradient(-15deg, red, orange, yellow);
}

table {
    max-width: inherit;
    border-top: 1px black solid;
    background: linear-gradient(30deg, lightskyblue, snow, lightskyblue);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 16pt;
    color: black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

thead tr {
    color: darkblue;
    font-size: 20pt;
}

tbody {
}

tr {
}


td {
    padding-left: 10px;
    padding-right: 10px;
}

td a {
    color: white;
    background: orange;
    border-radius: 9px;
    padding-left: 6px;
    padding-right: 6px;
}

td a:hover {
    animation: HoverAction;
    animation-play-state: running;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0, -0.02, .1, 1.13)
}

@keyframes HoverAction {
    to {
        background: red;
    }
}

.table-header {
    text-align: center;
    color: snow;
    background: orange;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.table-container {
    font-family: monospace;
    margin: auto;
    overflow-y: scroll;
    max-height: 850px;
}

.table-container::-webkit-scrollbar {
    background: transparent;
}

.table-container::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg , white, transparent);
    border-radius: 10px;
}


.create {
    margin: 10px;
    font-family: monospace;
    color: darkblue;
}

.btn.btn-primary {
    font-size: 20pt;
    font-family: monospace;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background: linear-gradient(15deg, blue, snow);
    padding: 1pt 5pt 1pt 5pt;
}

.btn.btn-danger {
    font-size: 20pt;
    font-family: monospace;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background: linear-gradient(15deg, blue, snow);
    padding: 1pt 5pt 1pt 5pt;
}

.form-control {
    padding: 1pt 5pt 1pt 5pt;
    font-weight: bold;
    font-family: monospace;
    border-radius: 10px;
}

select {
    background: deepskyblue;
    color: snow;
    font-weight: bold;
}

select option {
    background: transparent;
    color: snow;
    font-weight: bold;
}

select::-webkit-scrollbar {
    background: transparent;
}

select::-webkit-scrollbar-thumb {
    background: snow;
    border-radius: 10px;
}

.user-info {
    background: linear-gradient(180deg,snow,deepskyblue);
    color: darkblue;
    padding: 10px;
    border-radius: 10px;
    border: 3px gray outset;
    text-align: center;
    min-width: max-content;
}