.terminal {
    width: 700px;
    display: flex;
    flex-flow: column nowrap;
    /* padding: 0px; */
}

.terminal-textarea {
    width: inherit;
    height: 350px;
    border-color: gray;
    border-width: 3px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-size: 14pt;
    background-color: black;
    resize: none;
    outline: none;
    padding: 10px;
}

.terminal-execute-button {
    width: inherit;
    height: 40px;
    color: black;
    font-size: 16pt;
    background-color: darkgray;
    border-radius: 0px 0px 10px 10px;
    border-color: gray;
    border-width: 3px;
    padding: 0px 10px;
}
