h1 {
    margin: 0;
}

.theory_card {
    max-width: inherit;
    margin: 20px auto;
    background: linear-gradient(45deg, lightskyblue, transparent);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

p {
    margin: 0px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


.theory_container {
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 40px 40px auto;
}


.theory_description_container {
    padding-left: 10px;
    color: darkblue;
    font-size: 14pt;
}

.theory_attribute_container {
    color: darkblue;
    font-size: 14pt;
}

.theory_attributes_container {
    padding: 10px 10px;
    background: linear-gradient(45deg, deepskyblue, transparent) ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.theory_theme_header {
    padding: 10px;
    color: darkblue;
    font-size: 32pt;
    border: 3px black;
    border-radius: 15px 15px;
    background: linear-gradient(90deg, transparent, snow, transparent);
    text-align: center;
    vertical-align: center;
}

.theory_command_header {
    color: snow;
    font-size: 20pt;
    margin: 0px;
}

.theory_attribute_header {
    font-size: 16pt;
    margin: 0;
    color: white;
}
