h1 {
    margin: 0;
}

.theory_card {
    max-width: inherit;
    margin: 20px auto;
    background: linear-gradient(45deg, lightskyblue, transparent);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 30px;
}

p {
    margin: 0px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


.theory_container {
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 40px 40px auto;
}

.theory-command-container {
    box-shadow: 3px 3px 10px 1px  deepskyblue;
    background: transparent;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.theory_description_container {
    box-shadow:  -3px -3px 0px 0px  snow;

    padding-left: 10px;
    color: snow;
    font-size: 14pt;
}

.theory_attribute_container {
    color: snow;
    padding: 10px;
    background: linear-gradient(45deg, skyblue, transparent);
    font-size: 14pt;
    margin-bottom: 10px;
    border-radius: 20px;
}

.theory_attributes_container {
    background: linear-gradient(45deg, whitesmoke, transparent);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    /* background: white; */
    border-radius: 30px;
}

.theory_theme_header {
    padding: 10px;
    color: darkblue;
    font-size: 32pt;
    border: 3px black;
    border-radius: 15px 15px;
    background: linear-gradient(90deg, transparent, snow, transparent);
    text-align: center;
    vertical-align: center;
}

.theory_command_header {
    color: snow;
    font-size: 20pt;
    margin: 0px;
}

.theory_attribute_header {
    font-size: 16pt;
    margin: 0;
    color: snow;
}

.theory_attributes_header {
    color: darkblue;
    margin: 0;
    padding: 5px;
}

.theory_questions_header {
    color: snow;
    margin: 0;
    padding: 5px;
}

.theory_question_header {
    font-size: 16pt;
    margin: 0;
    color: snow;
}


.theme-mark-button-form {
    align-self: start;
    margin: 10px;
}

.theme-mark-button {
    color: snow;
    font-size: 14pt;
    font-weight: bold;
    padding: 10px;
    border: 3px snow outset;
    border-radius: 10px;
    font-family: monospace;
}

.read {
    background: forestgreen;
}

.unread {
    background: red;
}

.read:hover {
    animation: ReadHover;
    animation-play-state: running;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0, -0.02, .1, 1.13)
}

.unread:hover {
    animation: UnReadHover;
    animation-play-state: running;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0, -0.02, .1, 1.13)
}

@keyframes ReadHover{
    to {
        background: limegreen;
    }
}

@keyframes UnReadHover{
    to {
        background: orange;
    }
}

.theme-container {
    width: 100%
}

.content-container {
    width: 100%;
}

.search-container {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-top: -4px
}

.search-field {
    height: 44px;
}

.search-button {
    height: 40px;
    border: 1px outset lightgray;
    border-radius: 3px 3px 3px 3px;
    background: white;
}

.search-button:hover {
    background: yellow;
}

