html {
    box-sizing: border-box;
    background: url('./arctic.jpg'); background-size: cover; background-repeat:no-repeat; background-attachment: fixed
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    min-width: min-content;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 40px 40px auto;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.menu-list {
    display: flex;
    gap: 0 40px;
}

ul {
    list-style-type: none;
}

.logo-img {
    height: inherit;
}

.authDiv {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.registerDiv {
    display: flex;
}

.authForm {
    max-width: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.register-container {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    color: darkslateblue;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-h2 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register-form-group {
    margin-bottom: 20px;
}

.register-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.register-button-container {
    text-align: center;
}

.register-button-container button {
    padding: 10px 20px;
    background-color: deepskyblue;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.register-button-container button:hover {
    background-color: blue;
}

.auth-container {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    color: darkslateblue;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-form-group {
    margin-bottom: 20px;
}

auth-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.auth-button-container {
    text-align: center;
}

.auth-button-container button {
    padding: 10px 20px;
    background-color: deepskyblue;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.auth-button-container button:hover {
    background-color: blue;
}

.layout-header {
    height: 50px;
    background: linear-gradient(145deg, transparent, deepskyblue);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layout-logo {
    vertical-align: middle;
    height: inherit;
    margin-left: -30px;
}

.layout-navigation {
    display: flex;
    gap: 10px;
}

.layout-navigation layout-a {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 10px;
}


.terminal-container {
    border: gray 2px solid;
    border-radius: 5px;
    height: min-content;
    width: max-content;
    font-family: monospace;
    font-size: 20;
    color: white;
}

.terminal {
    background: black;
    width: 900px;
    height: 500px;
    font: inherit;
}

.terminal-textarea{
    background: transparent;
    font: inherit;
    color: inherit;
    width: inherit;
    height: inherit;
    resize: none;
    outline: none;
}

.terminal-execute-button {
    background-color: green;
    font-style: italic;
    color: white;
    width: 100%;
    height: 30px;
    font: inherit;
}
