@model BashDataBaseModels.Theme

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Theme</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ThemeId"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="hidden">
                <label asp-for="CreatedUTC" class="control-label"></label>
                <input asp-for="CreatedUTC" class="form-control"/>
                <span asp-validation-for="CreatedUTC" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="hidden">
                <label asp-for="UpdatedUTC" class="control-label"></label>
                <input asp-for="UpdatedUTC" class="form-control"/>
                <span asp-validation-for="UpdatedUTC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>