@using DataModels
@model ThemeViewModel

@{
    ViewBag.Title = "Теория";
    Layout = "_Layout";
    var theme = Model.Context.GetEntity<Theme>()
                        .FirstOrDefault(e => e.ThemeId == Model.Session.CurrentThemeId);
        // .Include(theme => theme.Commands)
        // .ThenInclude(command => command.Attributes)
        // .ToList();
    int? a = null;
}

<div>
    @foreach (var command in theme.Commands)
    {
        <h1>@command.Text</h1>
    }
</div>