@model WebApp.LearningSystem.BussinesModels.BusinessViewModel

@{
    ViewData["Title"] = "Coding";
    // Layout = "_Layout";
}
<div class="terminal-container">
    <div class="terminal">
        <textarea class="terminal-textarea">$ </textarea>
    </div>
    <input type="submit" value="Execute" class="terminal-execute-button">
</div>