@using System.Net.Sockets
@using System.Net
@using System.Text
@model WebApp.LearningSystem.BussinesModels.BusinessViewModel

@{
    ViewData["Title"] = "Coding";

    // Layout = "_Layout";
}
<div>
    <div class="terminal-container">
        <div class="terminal">
            <textarea class="terminal-textarea">$ </textarea>
        </div>
        <input type="submit" value="Execute" class="terminal-execute-button">
    </div>
    @{
        var Socket = new Socket(AddressFamily.InterNetwork, SocketType.Stream, ProtocolType.Tcp);
        Socket.Connect(IPAddress.Parse("127.0.0.1"), 55555);
        Socket.Send(Encoding.UTF8.GetBytes("whoami"));
        var buffer = new byte[1024];
        var sb = new StringBuilder();
        var recv = Socket.Receive(buffer);
        // while (Socket.Receive(buffer) > 0)
        // {
        var result= Encoding.UTF8.GetString(buffer.Take(recv).ToArray());
        sb.AppendLine(result);
        // } 
        <p>@sb.ToString()</p>
    }
</div>